@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --light-green: rgba(245, 245, 245, 1);
  --dark-green: rgba(0, 106, 80, 1);
  --green: rgba(198, 228, 214, 1);
  --gray: rgba(14, 14, 14, 0.5);
  --light-blue: rgba(84, 144, 245, 0.2);
  --blue: rgba(84, 144, 245, 1);
  --card-light-green: rgba(198, 228, 214, 1);
  --card-green: rgba(9, 161, 92, 1);
  --light-yellow: rgba(247, 235, 207, 1);
  --yellow: rgba(255, 194, 57, 1);

  --font: "Fira Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
nav,
.banner,
.pillar,
.vision {
  background-color: var(--light-green);
}

/* ...................................................navbar Section............................................. */
.nav-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-container h1 {
  font-size: 2rem;
}

.nav-container button {
  padding: 0.9rem 1.8rem;
  border: 1px solid var(--dark-green);
  background-color: transparent;
  border-radius: 0.5rem;
  color: var(--dark-green);
  font-size: 1.1rem;
  font-weight: 600;
}

/* ...................................................Banner Section............................................. */
.banner {
  padding-top: 1.25rem;
}
.banner-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  padding: 5rem 6.25rem;
  gap: rem;
  border-radius: 1.5rem;
}

.banner-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 1rem;
}

.banner-content h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: black;
  margin-bottom: 2rem;
}

.banner-content button {
  background-color: var(--dark-green);
  padding: 1rem 2.1rem;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
}

/* ...................................................pillar section............................................. */
/* Common CSS */
.pillar-container,
.vision-container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
}

/* Common CSS */
.pillar-container h2,
.vision-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Common CSS */
.pillar-card-container,
.vision-card-container {
  display: flex;
  gap: 1.5rem;
}

.pillar-card {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
}

.pillar-card img {
  height: 4rem;
  width: 4rem;
}

/* Common CSS */
.pillar-card h3,
.vision-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.9rem;
}

/*.............................................. Vision Section..........................................................*/

.vision-container p {
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 2rem;
}

.vision-card {
  padding: 2rem;
  border-radius: 2rem;
}

.blue-card {
  background-color: var(--light-blue);
}
.green-card {
  background-color: var(--card-light-green);
}
.yellow-card {
  background-color: var(--light-yellow);
}
.vision-card button {
  padding: 0.7rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-weight: 600;
}

.blue-card button {
  background-color: var(--blue);
}
.green-card button {
  background-color: var(--card-green);
}
.yellow-card button {
  background-color: var(--yellow);
}
